/* src/sites/dbs/quasar.variables.scss */
$primary:   #a05a2c;
$secondary: #d59744;
$accent:    #bf6b30;

$minor1:    #d3b18c;
$minor2:    #6a4e42;
$neutral:   #f8f3ee;

$dark:      #2e2e2e;
$dark-page: #1c1c1c;

$positive:  #65c058;
$negative:  #b03a2e;
$info:      #a05a2c;
$warning:   #d59744;

$highlight-scripture: #d59744;
$shadow:              #7f6e63;
$success-highlight:   #a05a2c;
