/* Quasar bridge - WSU
   - No hex values
   - No CSS emitted
   - Only maps brand -> Quasar tokens
*/

@use "./tokens.site.scss" as brand;


/* Quasar expects these at build time */
$primary: core.$primary;
$secondary: core.$secondary;
$accent: core.$accent;
$dark: brand.$brand-dark;
$dark-page: brand.$brand-dark-page;
$positive: core.$positive;
$negative: core.$negative;
$info: core.$info;
$warning: core.$warning;

/* Do not emit CSS here */
