@use "sass:color";
@use "@/css/quasar.variables.scss" as *;
// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

$primary: darkgreen;
$secondary: #f0634a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

// Added to match master list (defaults)
$minor1: #d3b18c;
$minor2: #6a4e42;
$neutral: #f8f3ee;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// Highlights
$gold-highlight: #d59744;
$shadow: #7f6e63;
$success-highlight: #a05a2c;
